.places{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.places h1{
	font-size: 30px;
	width: 100%;
}

.places article{
	width: 390px;
	padding: 20px;
	margin: 20px;
	border: solid 1px #FF5A5F;
	border-radius: 4px;
	position: relative;
}

.places article h2{
	font-size: 30px;
	margin: 0;
	padding: 0;
	text-align: center;
}

.places .price_by_night{
	color: #FF5A5F;
	border: solid 4px #FF5A5F;
	min-width: 60px;
	height: 60px;
	font-size: 30px;
	position: absolute;
	top: 20px;
	right: 20px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px;
}

.places .information{
	height: 80px;
	border-top: solid 1px #DDD;
	border-bottom: solid 1px #DDD;
	display: flex;
	justify-content: center;
	align-items: space-between;
	margin-bottom: 20px;
	margin-top: 50px;
}

.places .information div{
	width: 100px;
}

.places .information .max_guest:before{
	content: '';
	background-image: url('../images/icon_group.png')
}

.places .user .owner{
	font-weight: bold;
}
